doctype html
html
	head
		title!=title
		script(src='/lib/jquery-1.9.1.min.js')
		script(src='/lib/peer.js')
		style.
			video { width: 200px; height: 200px; }
			#msgContainer { display: none; }
	body
		h1!=title
		p Welcome! #{userEmail}
		input#call-id(type='text', placeholder='在此输入好友的ID')
		input#call(type='button', value='邀请视频')
		input#end-call(type='button', value='断开')
		p 你的ID是：
			span#my-id your ID is ..
		p 当前好友ID：
			span#their-id their ID is ..
		video#their-video(autoplay)
		video#my-video(muted='true', autoplay)
		div#showMyVideo-error(style={display:'none'}) 你的浏览器不支持在线视频!
		div#msgContainer
			input#msgToSend(placeholder='在此次发送消息给好友')
			input#sendMsgBtn(value='发送', type='button')
			div#receiveMsg

		script(src='/js/index.js')
